@import '../../../styles.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-black;
    color: white;
    padding: 42px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    max-width: 100px;
    height: auto;
}