<div
  class="min-h-screen bg-cover bg-center"
  style="background-image: url('/assets/background.png')"
>
  <div class="container mx-auto py-12 px-0">
    <div class="flex justify-between items-center py-6">
      <h2 class="text-3xl font-semibold text-white">Cadastro de pessoas</h2>
      <button
        class="buttons-font outlined-button flex items-center justify-between text-white"
        (click)="openModal(false)"
      >
        Novo cadastro
        <img src="../../../assets/small-vector.svg" alt="Arrow" class="ml-0" />
      </button>
    </div>

    <div class="bg-white shadow-lg overflow-hidden">
      <table class="table-auto w-full asset-table">
        <thead>
          <tr class="background-black asset-font">
            <th class="text-left px-4 py-2">Nome</th>
            <th class="text-left px-4 py-2">E-mail</th>
            <th class="text-left px-4 py-2">Telefone</th>
            <th class="text-left px-4 py-2">Data de nascimento</th>
            <th class="px-4 py-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons" class="border-b">
            <td class="px-4 py-2">{{ person.name }}</td>
            <td class="px-4 py-2">{{ person.email }}</td>
            <td class="px-4 py-2">{{ person.phone }}</td>
            <td class="px-4 py-2">{{ person.birthDate | dateFormat }}</td>
            <td class="px-4 py-2 flex justify-center gap-2">
              <button
                class="font-bold p-2 rounded"
                (click)="openModal(true, person)"
              >
                <img
                  src="../../../assets/edit-light.svg"
                  alt="Edit"
                  class="h-8 w-8"
                />
              </button>
              <button
                class="font-bold p-2 rounded"
                (click)="confirmDelete(person.id)"
              >
                <img
                  src="../../../assets/trash-light.svg"
                  alt="Delete"
                  class="h-8 w-8"
                />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-create-update
  [modalOpen]="modalOpen"
  [person]="currentEditingPerson"
  (closeModalEvent)="closeModal()"
  (submitFormEvent)="handleSubmit($event)"
></app-create-update>
